<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <http create-session="never" auto-config="true">
        <form-login login-page="/Login.vw" authentication-failure-url="/Login.vw?failed=true" default-target-url="/HomePage.vw" />
        <intercept-url pattern="/Login.vw" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/lib/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/js/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/css/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/img/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/*/*.vw" access="ROLE_USER,ROLE_ADMIN" />
        <intercept-url pattern="/*/*.vw/delete/*" access="ROLE_ADMIN" />
        <intercept-url pattern="/*.vw" access="ROLE_USER,ROLE_ADMIN" />
        <intercept-url pattern="/*.vw/delete/*" access="ROLE_ADMIN" />
        <logout logout-url="/j_spring_security_logout" logout-success-url="/Login.vw" invalidate-session="true" />
    </http>

    <!--     for metods security -->
    <global-method-security secured-annotations="enabled" pre-post-annotations="enabled"/>

    <beans:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="user" password="password" authorities="ROLE_USER" />
                <user name="admin" password="password" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>