<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Controller mappings -->
    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="**/BookList.vw">BookListController</prop>
                <prop key="**/Login.vw">LoginController</prop>
                <prop key="**/EditBook.vw">EditBookController</prop>
                <prop key="**/AddBook.vw">AddBookController</prop>
            </props>
        </property>
    </bean>

    <!-- JSP view resolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
        p:viewClass="org.springframework.web.servlet.view.JstlView"
        p:prefix="/WEB-INF/pages/"
        p:suffix=".jsp"/>

    <bean name="BookListController" class="com.solution.controller.BookListController"/>
    <bean name="LoginController" class="com.solution.controller.LoginController"/>
    <bean name="EditBookController" class="com.solution.controller.EditBookController"/>
    <bean name="AddBookController" class="com.solution.controller.AddBookController"/>
</beans>
